/* Service Card - Normal State */
.serviceCard {
  background-color: #ffffff;
  box-shadow: 0px 1.5px 22.5px 0.75px #00000040;
  transition: opacity 300ms ease;
}

.group {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  position: relative;
  left: 6.67%;
  top: 6.67%;
  gap: 20px;
}

 .imageGroup{
  width: 96px;
  height: 96px;
  justify-content: center;
  align-items: center;
}

.image {
  align-self: center;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 6px;
}

.header {
  color: #000000;
  font-family: var(--h-3-font-family);
  font-size: var(--h-3-font-size);
  font-style: var(--h-3-font-style);
  font-weight: var(--h-3-font-weight);
  width: 210px;
  height: 24px;
  letter-spacing: var(--h-3-letter-spacing);
  line-height: var(--h-3-line-height);
}

.content {
  color: var(--gray-dark-color);
  font-family: var(--text-font-family);
  font-size: var(--text-font-size);
  font-style: var(--text-font-style);
  font-weight: var(--text-font-weight);
  width: 210px;
  height: 48px;
  letter-spacing: var(--text-letter-spacing);
  line-height: var(--text-line-height);
}

.button {
  visibility: hidden;
}

/* Service Card - Hover State */
.serviceCard:hover {
  background-color: var(--black-color);
  box-shadow: 0px 4.5px 60px #00000040;
  top: -8.02%;
  position: relative;
  padding-bottom: 20px;
}

.serviceCard:hover .group {
  top: 13.36%;
}

.serviceCard:hover .button {
  visibility: visible;
  width: 176px;
  height: 56px;
  margin-top: 16px;
}

.serviceCard:hover .header {
  color: var(--white-color);
}

.serviceCard:hover .content {
  color: var(--white-color);
}

/* Service Cards */
.serviceCards {
  display: flex;
  list-style: none;
  justify-content: center;
}

/* Slider*/
.sliderContainer {
  width: 240px;
  height: 240px;
  border: 1px solid;
  border-color: var(--gray-color);
  position: relative;
}

.sliderContainer button::before {
  color: grey;
}


@media (max-width: 1440px) {
  .group {
    gap: 16px;
  }

  .serviceCard:hover .button {
    width: 168px;
    height: 48px;
    margin-top: 0px;
  }
}

@media (max-width: 1100px) {
  .serviceCard {
    box-shadow: none;
    border: none;
  }

  .group {
    gap: 8px;
    top: 4%;
  }

  .text {
    gap: 2px;
  }

  .serviceCard:hover {
    padding-bottom: 0px;
  }

  .serviceCard:hover .group {
    top: 4%;
  }
  .serviceCard:hover .button {
    width: 160px;
    height: 40px;
  }
}
