.header {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  list-style: none;
  padding-left: 0;
  align-items: center;
  padding-right: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.header div + div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.navBar li a {
  text-decoration: none;
  font-family: "Roboto";
}
