.header {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  list-style: none;
  padding: 0 1rem;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.header div + div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.header a:visited {
  text-decoration: underline;
}

.header__hamburguerMenu {
  display: none;
}

@media (max-width: 800px) {
  .header__hamburguerMenu {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    list-style: none;
    padding-left: 0;
    align-items: center;
    padding: 0 1rem;
    max-width: 1200px;
    margin: 0 auto;
  }

  .header__hamburguerMenu__toggleButton {
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
    display: inline-block;
  }

  .header {
    display: none;
  }
}

.mobileNav {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  right: 0;
  background: white;
  width: 50%;
  height: 100vh;
}

.mobileNav ul {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 30% auto;
  padding: 0;
  text-align: center;
}

.mobileNav ul li {
  margin: 1rem 0;
}

/* .mobileNav ul li a {
  font-size: 1.5rem;
} */

.open {
  display: block !important;
}

.overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
}
