.label {
    height: 48px;
    width: 208px;
  }
  
  .label .content {
    color: var(--gray-dark-color);
    font-family: var(--text-font-family);
    font-size: var(--text-font-size);
    font-style: var(--text-font-style);
    font-weight: var(--text-font-weight);
    height: 48px;
    left: 0;
    letter-spacing: var(--text-letter-spacing);
    line-height: var(--text-line-height);
    position: fixed;
    text-align: center;
    top: 0;
    width: 208px;
  }
  