.label {
    height: 24px;
    width: 208px;
  }
  
  .label .header {
    color: #000000;
    font-family: var(--h-3-font-family);
    font-size: var(--h-3-font-size);
    font-style: var(--h-3-font-style);
    font-weight: var(--h-3-font-weight);
    height: 24px;
    left: 0;
    letter-spacing: var(--h-3-letter-spacing);
    line-height: var(--h-3-line-height);
    position: fixed;
    text-align: center;
    top: 0;
    width: 208px;
  }
  