/* Unmatched Card */
.unmatchedCard {
  box-shadow: 0px 1.5px 22.5px 0.75px #00000040;
}

.overlapGroup {
  position: relative;
}

.subtract {
  top: 32px;
  position: absolute;
}

.image {
  left: 40px;
  position: absolute;
}

.text {
  width: 316px;
  top: 112px;
  left: 24px;
  position: absolute;
}

.header {
  color: var(--white-color);
  font-family: var(--h-3-font-family);
  font-size: var(--h-3-font-size);
  font-style: var(--h-3-font-style);
  font-weight: var(--h-3-font-weight);
  letter-spacing: var(--h-3-letter-spacing);
  line-height: var(--h-3-line-height);
  position: absolute;
  white-space: nowrap;
}

.content {
  color: var(--gray-light-color);
  font-family: "Roboto-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: var(--normal-small-letter-spacing);
  line-height: var(--normal-small-line-height);
  top: 35px;
  position: absolute;
}

/* Unmatched Cards */
.unmatchedCards {
  display: flex;
  list-style: none;
  gap: 32px;
  flex-wrap: wrap;
  /*width: 100%;*/
}

@media (max-width: 1440px) {
  .image {
    left: 32px;
  }

  .text {
    top: 90px;
    width: 250px;
    left: 20px;
  }

  .header {
    font-family: var(--h-4-font-family);
    font-size: var(--h-4-font-size);
    font-style: var(--h-4-font-style);
    font-weight: var(--h-4-font-weight);
    letter-spacing: var(--h-4-letter-spacing);
    line-height: var(--h-4-line-height);
  }

  .content {
    font-size: 13px;
    line-height: 18px;
  }
}
