.categoryContainer {
  margin: 70px 0 70px;
}

.categoryContainer__title {
  text-align: center;
  margin: 3rem 0;
  padding-top: 2rem;
}

.cardsContainer {
  max-width: 1200px;
  margin: 0 auto;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  height: 464px;
  /* max-width: 320px; */
  width: 100%;
  border: solid 1px #cccccc;
  border-radius: 16px;
  align-items: center;
  text-align: center;
  background-color: var(--link-color, #509EE3);
  color: var(--white-color);
  position: relative;
  transition: background-color 0.3s ease;
}

.textContainer {
  position: absolute;
  bottom: 20px;
  left: calc(50% - 89px);
}

.cardContainer:hover {
  cursor: pointer;
  background-color: var(--second-color, #14192D);;
}
