.button {
  all: unset;
  background-color: var(--first-color);
  box-sizing: border-box;
  position: relative;
}

.button .text {
  color: #ffffff;
  font-family: var(--bold-font-family);
  font-size: var(--bold-font-size);
  font-style: var(--bold-font-style);
  font-weight: var(--bold-font-weight);
  left: 46px;
  letter-spacing: var(--bold-letter-spacing);
  line-height: var(--bold-line-height);
  text-align: center;
  top: 10px;
  white-space: nowrap;
}

.button:hover {
  background-color: var(--logo-color);
}