.homePageContainer {
  display: flex;
  flex-direction: column;
}

.homePageContainer section {
  height: 960px;
}

.firstSectionContainer {
  background-color: black;
  position: relative;
}

.secondSectionContainer {
  position: relative;
  background-image: url("/images/homePage_backgroundTwo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}

.headerContainer {
  position: absolute;
  width: 100%;
  top: 75px;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 76px;
  position: relative;
  width: 100%;
  height: 100%;
}

.FirstimageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.FirstimageContainer img {
  margin-top: -70px;
}

@media (max-width: 840px) {
  .FirstimageContainer img {
    margin-top: -70px;
  }
}

.secondImage {
  margin-top: -200px;
}

.thirdImage {
  margin-top: -10px;
}

.otherImage {
  /* margin-top: -60px; */
  position: relative;
  display: flex;
  justify-content: center;
}

.containerAbsolute {
  position: absolute;
  top: 20px;
  z-index: 1;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: flex-start;
  max-width: 1296px;
}

.serviceCardContainer {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  top: calc(784px - 108px);
  z-index: 1;
}

.ThirdSectionContainer {
  position: relative;
  background-image: url("/images/homePage_backgroundTwo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}

.SevenSectionContainer {
  position: relative;
  background-image: url("/images/FooterImage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}

.threeSectionContainer,
.fourSectionContainer,
.fiveSectionContainer,
.sixSectionContainers {
  position: relative;
  background-image: url("/images/homePage_backgroundTwo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  height: 720px !important;
  /* margin-top: -96px; */
}

.threeSectionContainer .containerAbsolute {
  top: 90px;
}

.threeSectionContainer button {
  height: 56px;
  background-color: #f99005;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  border: 0;
  padding: 10px;
}

.unmatchedServicesContainer {
  max-width: 241px;
  height: 114px;
  color: #ffff;
  margin-top: 20px;
}

.unmatchedServicesContainer h1 {
  width: 241px;
}

.aboutCardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 82px;
  flex-wrap: wrap;
  margin-top: 300px;
}

.aboutUsParagraphContainer {
  width: 30%;
  font-size: 16px;
  line-height: 24px;
}

.aboutUsButton {
  height: 48px;
  width: 256px;
  background-color: #f99005;
  color: white;
  border: 0px;
  margin-top: 33px;
}

.clientCardContainer {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
  position: relative;
  gap: 82px;
  flex-wrap: wrap;
  margin-top: 34px;
}

.clientCardContainer .aboutUsParagraphContainer h1 {
  font-size: 36px;
  font-weight: 800;
  line-height: 1.5;
}

.contactContainer {
  position: relative;
  color: white;
  width: 416px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  height: 404px;
  top: 190px;
  left: 150px;
}

.contactContainer h1 {
  font-size: 36px;
  line-height: 1.5;
  font-weight: 800;
  width: 420px;
}

.contactContainer p {
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
}

.newsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  margin-top: 76px;
}

.buttonContainer {
  display: flex;
  gap: 64px;
}

.buttonContainer button {
  width: 176px;
  height: 48px;
}

.widthOutMarginTop {
  margin-top: 0px;
}

@media (max-width: 940px) {
  .secondSectionContainer {
    background-image: url("/images/FrameTwoInside.png");
    background-size: cover;
  }
  .threeSectionContainer {
    background-image: url("/images/FrameThree.png");
    background-size: cover;
  }
  .fourSectionContainer {
    background-image: url("/images/FrameFour.png");
    background-size: cover;
  }
  .fiveSectionContainer {
    background-image: url("/images/FrameFive.png");
    background-size: cover;
  }
  .sixSectionContainer {
    background-image: url("/images/FrameSix.png");
    background-size: cover;
  }
  .sevenSectionContainer {
    background-image: url("/images/FrameSevenInside.png");
    background-size: cover;
  }
}
