  .firstSectionContainer {
    width: 100%;
    background-color: var(--black-color);
  }
  
  .firstSection {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
  }
   
  .text {
    position: absolute;
    z-index: 2;
    top: 18%;
    left: 15%;
    /* top: 192px;
    left: 240px; */
    max-width: 364px;
    padding: 20px;
    line-height: 24px;
  }
  
  .text h1 {
      color: var(--white-color);
      font-size: var(--h-1-font-size);
      line-height: 1.2;
  }
  
  .text p {
      color: var(--gray-light-color);
  }
  
  .backgroundContainer {
      width: 100%;
      height: 1000px;
      position: relative;
      margin: 0 auto;
  }
  
  .contactCard {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: -206px auto 0;
    bottom:-141px;
    z-index: 3;
    position: absolute;
    width: 100%;
  }
  
  @media (max-width: 1440px) {
    .text {
      max-width: 320px;
    }
  }
  
  @media (max-width: 1250px) {
    .text {
      left: 10%;
    }
  }
  
  @media (max-width: 1000px) {
    .text {
      max-width: 280px;
    }
    .contactCard {
      margin-top: -170px;
    }
  }
  
  @media (max-width: 950px) {
    .contactCard {
      margin-top: -140px;
    }
  }
  
  @media (max-width: 900px) {
    .contactCard {
      margin: -100px 0 0 3px;
      justify-content: center;
      width: 100vw;
    }
  }
  
  @media (max-width: 850px) {
    .text {
      left: 5%;
    }
   }
  
  @media (max-width: 350px) {
    .text {
      left: 1%;
    }
  }